extends ../_layout

block body-content
    div.row
        div.col-md-12
            h2.margin-top-30.text-center
                | unfortunately user with that uername
                br
                | do not exsist in our database
            br
            h3.text-center
                a(href="/") Go to homepage