extends ../_layout

block custom-scripts
    script(src="/static/scripts/json-requester.js")
    script(src="/static/scripts/profile.js")
    script(src="/static/scripts/comments-modal.js")

block body-content
    
    div(id="profile-wrapper" class="container")
        ul(class="nav nav-tabs" id="profile-tabs")
            li(id="first-tab")
                a(href="#" data-toggle="tab") Профил
            li(id="second-tab")
                a(href="#" data-toggle="tab") Коли
            li(id="third-tab")
                a(href="#" data-toggle="tab") Получени коментари
            if result.extraInfoAllowed
                li(id="forth-tab")
                    a(href="#" data-toggle="tab") Направени заявки
                li(id="fifth-tab")
                    a(href="/user/" + result.userDetails.username + "/update") Промени профила
        div(id="prfile-info" class="profile-tab")
            h2(class="text-center" id="username")
                != result.userDetails.username 
            h3(class="text-center")
                | Рейтинг: 
                div.rating
                        - for(let i=0; i < result.userDetails.userRating; i += 1) {
                            if ((result.userDetails.userRating - i) < 1)
                                span.glyphicon.glyphicon-star.half
                            else
                                span.glyphicon.glyphicon-star
                        - }  
            div(id="profile-pic-container")
                img(class="profile-pic-big img-rounded", src= result.userDetails.picture)
            div(id="personal-info")
                strong 
                    | Име: 
                != result.userDetails.firstName
                br
                strong
                    | Фамилия: 
                != result.userDetails.lastName
                br
                if result.extraInfoAllowed
                    strong
                        | E-mail: 
                    em
                        a(href="mailto:" + result.userDetails.email + "\"") #{result.userDetails.email}
                    br
                    strong
                        | Телефон: 
                    != result.userDetails.phoneNumber
                    br
                
                strong 
                    | Град: 
                != result.userDetails.address.city
                br
                strong 
                    | Адрес: 
                != result.userDetails.address.street
                br
                strong
                    | Шофьорски опит: 
                != result.userDetails.drivingExpInYears
            div(class="clear-both margin text-center" id="profile-btns")            
                if result.allowMessagesAndComment
                    a(href="#" class="btn btn-success" id="add-comment") Коментирай
                    div(class="modal fade" id="comments-modal" role="dialog")
                            div(class="modal-dialog")
                                div(class="modal-content")
                                    div(class="modal-header")
                                        span 
                                            | Напиши коментар
                                    div(class="modal-body")
                                        form(role="form" class="text-left")
                                            div(class="form-group")
                                                label(for="recipient-username")
                                                    | Коментар за: 
                                                input(type="text" value=result.userDetails.username id="recipient-username" name="username" class="form-control")
                                            div(class="form-group")
                                                label(for="content-area")
                                                    | Коментар
                                                textarea(id="content-area" class="form-control" placeholder="Коментар... " name="fromArea")
                                    div(class="modal-footer")
                                        button(type="submit" class="btn btn-success" id="modal-success")
                                            span
                                                | Изпрати коментара
                                        button(class="btn" data-dismiss="modal" aria-hidden="true" id="close-modal")
                                            | Затвори
                if result.isAdmin  
                            label(for="rating-select" class="btn btn-success margin-left-fiftheen") Рейтинг
                            select(class="form-control margin-left-fiftheen" id="rating-select")
                                -for (var i = 0; i <= 5; ++i) 
                                        option(value= i)
                                            != i              
        div(id="user-cars" class="profile-tab hidden")
            each car in result.userDetails.cars
                div(class="car-preview")
                    a(href="/car/" + car._id)
                        img(class="car-pic-preview img-rounded" src=car.picture)
                    div(class="car-info")
                        strong
                            | Марка: 
                        != car.brand 
                        br
                        strong
                            | Модел: 
                        != car.model 
                        br
                        strong
                            | Година: 
                        != car.year
                        br
                        br
                        a(href="/car/" + car._id class="btn btn-primary") Повече информация                  
                        if result.extraInfoAllowed
                            br
                            a(href="/car/" + car._id + "/update/" class="btn btn-danger") Промени                          
        div(id="user-reviews" class="profile-tab hidden")
            each review in result.userDetails.receivedReviews
                div(class="panel panel-primary review-tab")
                    div(class="panel-heading")
                        h3(class="panel-title")
                           != review.senderUsername
                    div(class="panel-body")
                        span
                           != review.content
        //- TODO Remove
        //- div(id="user-requests" class="profile-tab hidden")
        //-     each request in result.userDetails.rentalRequests
        //-             div(class="request-container")
        //-                 a(href="/car/" + request.car.id)
        //-                     img(class="car-pic-preview img-rounded" src=request.car.imageUrl)
        //-                 div(class="request-info")
        //-                     strong
        //-                         | Собственик: 
        //-                         a(href="/user/" + request.owner.username)
        //-                             != request.owner.username
        //-                     br
        //-                     strong
        //-                         | Начална дата: 
        //-                     != request.startRentalDate.getDate() + '-'
        //-                     != request.startRentalDate.getMonth() + 1 + '-'
        //-                     != request.startRentalDate.getFullYear()
        //-                     br
        //-                     strong
        //-                         | Крайна дата: 
        //-                     != request.endRentalDate.getDate() + '-'
        //-                     != request.endRentalDate.getMonth() + 1 + '-'
        //-                     != request.endRentalDate.getFullYear()
        //-                     h4
        //-                         strong
        //-                             | Статус: 
        //-                         if request.status == "Finished"
        //-                             span(class="label label-success")
        //-                                | Приключен
        //-                         else if request.status == "Canceled"
        //-                             span(class="label label-danger")
        //-                                | Отказан
        //-                         else if request.status == "Active"
        //-                             span(class="label label-primary")
        //-                                | Активен
        //-                         else if request.status == "Pending"
        //-                             span(class="label label-info")
        //-                                | Очаква отговор
        //-                     a(class="btn btn-primary" href="#")
        //-                         | Кореспонденция - link pls                   