extends ../_layout

block custom-styles
    link(rel="stylesheet", href="/static/styles/sign-up.css")

block custom-scripts
        //- inject:jqueryValidation
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/additional-methods.js")
        //- endinject
        script(src="/static/scripts/validators/sign-up.js")

block body-content
    div.container.background
        div.row.color-dark-success
            div.col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-2.col-sm-12.col-xs-12.wrapper
                h1.text-center.color-success Регистрация
                form.row.form-horizontal(action="/auth/sign-up" id="signupForm" method="post")
                    div.col-lg-10.col-md-offset-3.col-md-12.col-sm-12.col-xs-5.col-xs-offset-1
                        div.form-group
                            label.control-label(for="username") Потребителско име
                            input.form-control(type="text" name="username"  id="username" placeholder="Потребителско име" class="form-control" autofocus)
                        div.form-group
                            label.control-label(for="fullName")  Име
                            input(type="text" name="firstName"  id="firstname" placeholder="Първо Име" class="form-control" autofocus)
                            span(class="help-block") Първо име: Георги
                            input(type="text" name="lastName"  id="lastname" placeholder="Фамилия" class="form-control" autofocus)
                            span(class="help-block") Фамилия: Иванов
                        div.form-group
                            label.control-label(for="email") Email
                            input(type="email" name="email" id="email" placeholder="Email" class="form-control")
                        div.form-group
                            label(for="password" class="control-label") Парола
                            input(type="password" name="password" id="password" placeholder="Password" class="form-control")
                        div.form-group
                            label(for="confirm_passowrd" class="control-label") Въведете повторно парола
                            input(type="password" name="confirm_passowrd" id="confirmPassword" placeholder="Password" class="form-control")
                        div.form-group
                            label(for="picture" class="control-label") Профилна Снимка
                            input(type="url" name="picture" id="picture" placeholder="линк към снимката" class="form-control")
                        div.form-group
                            label(for="phoneNumber" class="control-label") Телефон
                            input(type="text" name="phoneNumber" id="phoneNumber" placeholder="08X-XXX-XXXX" class="form-control")        
                        div.form-group
                            label(for="experience" class="control-label") Шофьорски стаж
                            input(type="text" name="experience" id="experience" placeholder="години като шофьор" class="form-control")
                        div.form-group
                            label.control-label(for="address")  Адрес
                            input(type="text" name="city" id="city" placeholder="Град" class="form-control")
                            input(type="text" name="street" id="street" placeholder="Улица" class="form-control")
                        div.form-group
                            button.btn.btn-lg.btn-primary.btn-block(type="submit" class="btn btn-primary btn-block") Регистрирай се
                            a.btn.btn-lg.btn-primary.btn-block( href="/auth/google" title="Sign in with Google" rel="nofollow") Регистрирай се с Google

