extends ../_layout

block custom-styles
    link(rel="stylesheet", href="/static/styles/sign-in.css")
    
block body-content
    div.container.background.sign-in-container
        div.row.color-dark-success
            div.col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-2.col-sm-12.col-xs-12.wrapper
                form.row(action="" method="post" name="Login_Form" class="form-signin")
                    div.col-lg-12.col-md-12.col-sm-12.col-xs-5.col-xs-offset-1
                        h1(class="form-signin-heading") Добре дошли отново 
                        h3.text-center Моля попълнете потребителско име и парола
                        hr.colorgraph
                        input(type="text" class="form-control" name="username" placeholder="Потребителско Име" required="" autofocus="")
                        input(type="password" class="form-control" name="password" placeholder="Парола" required="")
                        button.btn.btn-lg.btn-primary.btn-block(name="submit" value="Login" type="Потвърди") Влез  			
                        a.btn.btn-lg.btn-primary.btn-block( href="/auth/google" title="Sign in with Google" rel="nofollow") Влез с Google