extends ../_layout

block body-content
    div.container.text-center
        div.col-md-12.text-center
            h1 401
            h2.color-negative Bad request
            p
                = result.err