extends _layout

block body-content
    div.container
        div.row.background.text-center
            div.col-md-12
                br
                h1.color-dark-success Всички наеми на коли
                table.table.table-striped
                    thead
                    each rental in result
                        tr
                            td
                                span 
                                    = rental.brand + ' '
                                span
                                    = rental.model
                            td
                                span От:
                                    strong 
                                        = rental.startDate.getDate() + '/'
                                        = rental.startDate.getMonth() + '/'
                                        = rental.startDate.getFullYear()
                                br
                                span До: 
                                    strong
                                        = rental.endDate.getDate() + '/'
                                        = rental.endDate.getMonth() + '/'
                                        = rental.endDate.getFullYear()
                            td
                                span Собственик: 
                                    a(href='/user/' + rental.carOwner)
                                        strong
                                            = rental.carOwner
                                br
                                span Наемател: 
                                    a(href='/user/' + rental.renter)
                                        strong
                                            = rental.renter
                            td
                                span Статус: 
                                strong
                                    = rental.status
                            td
                                a.btn.btn-success(href='#') Потвърди
                            td  
                                a.btn.btn-danger(href='#') Откажи
                            