extends ../_layout

block custom-styles
     link(rel='stylesheet', href='/static/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css')

block custom-scripts
    script(src='/static/scripts/main.js')
    script(src='/static/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js')

block body-content
    .container
        .row#create-car-container
            .col-lg-12.col-lg-offset-2.col-md-12.col-md-offset-2.col-sm-6.col-xs-6
                form.row(action='/car/create' method='POST' )
                    .col-lg-12.col-lg-offset-2.col-md-12.col-md-offset-1.col-sm-12.col-xs-6.col-xs-offset-2
                        h1.text-center Регистрирайте вашата кола
                        #form-create-car
                            .form-group
                                .dropdown
                                    label.label-create-car(for='brand') Бранд
                                    select.form-control#car-brand-choice(name='brand')
                                        each car in result.predefinedCars
                                            option(name='brand' value= car.brand)
                                                = car.brand
                                
                            .form-group                                         
                                .dropdown
                                    label.label-create-car(for='model') Модел
                                    select.form-control#car-model-choice(name='model')
                                        option
                                        each car in result.predefinedCars
                                            each model in car.models
                                                option.model-options(name='model' brand= car.brand)
                                                        = model
                            .form-group
                                label.label-create-car(for='year') Година
                                input.form-control(type='text' name='year')
                            .form-group
                                label.label-create-car(for='registrationNumber') Регистрационен номер
                                input.form-control(type='text'  name='registrationNumber')
                            .form-group
                                label.label-create-car(for='hp') Мощност (к.с.)
                                input.form-control(type='text' name='hp')
                            .form-group
                                label.label-create-car(for='fuelType') Тип на гориво
                                select.form-control(name='fuelType')
                                    each fuel in ['Бензин', 'Дизел', 'Газ', 'Ток']
                                        option(name='fuelType' value= fuel)
                                            = fuel
                            .form-group
                                label.label-create-car(for='fuelConsumption') Консумация на гориво
                                input.form-control(type='text'  name='fuelConsumption')

                            .form-group
                                label.label-create-car(for='seats') Брой седалки
                                select.form-control(name='seats')
                                    each seat in ['2', '3', '4', '5','6','7+']
                                        option(name='seats' value= seat)
                                            = seat
                        
                            .form-group
                                label.label-create-car(for='distancePassed') Пробег
                                input.form-control(type='text'  name='distancePassed')

                            label.label-create-car(for='startDate') Дати през които колата ще се отдава под наем
                            .input-group.input-daterange(data-provide='datepicker' data-date-format='dd/mm/yyyy')
                                input.form-control(type='text' name='startDate')
                                span.input-group-addon до
                                input.form-control(type='text' name='endDate')
                            
                            .form-group
                            button.submit-btn.btn.btn-default Добави кола
