extends ../_layout

block custom-styles
     link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css')

block custom-scripts
    script(src="/static/scripts/json-requester.js")
    script(src="/static/scripts/comments-modal.js")
    script(src='/static/scripts/car-details.js')
    script(src='/static/scripts/calendar.js')

block body-content
    div.container#car-details(carId= result.carDetails._id)
        div.row
            div.col-lg-8.col-md-8.col-xs-12
                h2
                    span 
                        = result.carDetails.brand
                    span 
                        = result.carDetails.model
                  
                    small 
                        = result.carDetails.year
                p   
                    span Собственик: 
                    a(href='/user/' + result.carDetails.owner.username)
                        = result.carDetails.owner.username 
                    span  град: 
                        = result.carDetails.owner.city

                img.car-image(src=''+ result.carDetails.picture)

                div.row
                    div.col-md-6
                        h4.color-secondary Кратко описание
                        p
                            = result.carDetails.shortInfo
                    div.col-md-6
                        h4.color-secondary Изисквания към наематели
                        ul.list-unstyled
                            li
                                i.fa.fa-check-circle-o.fa-lg.color-success
                                span  Минимална възраст: 
                                    = result.carDetails.usageRequirements.leastAge
                            li
                                i.fa.fa-check-circle-o.fa-lg.color-success
                                span  Минимален шофьорски опит: 
                                if result.carDetails.usageRequirements.drivingExperience
                                    = result.carDetails.usageRequirements.drivingExperience
                                else
                                    | 0
                            li
                                i.fa.fa-check-circle-o.fa-lg.color-success
                                span  Минимален прериод на наемане: 
                                    = result.carDetails.usageRequirements.minimumRentalPeriod
                            li
                                if result.carDetails.usageRequirements.smokingAllowed
                                    i.fa.fa-check-circle-o.fa-lg.color-success
                                    span  Пушенето позволено: Да
                                else
                                    i.fa.fa-ban.fa-lg.color-negative
                                    span  Пушенето позволено: Не 
                            
                            li
                                if result.carDetails.usageRequirements.animalsAllowed
                                    i.fa.fa-check-circle-o.fa-lg.color-success
                                    span  Животни позволени: Да
                                else
                                    i.fa.fa-ban.fa-lg.color-negative
                                    span  Животни позволени: Не
                hr
                div.row
                    div.col-md-12
                        h4.color-success Информация за колата
                        div.row
                            div.col-md-6
                                table.table.table-striped
                                    tbody
                                        tr
                                            td Бранд
                                            td 
                                                = result.carDetails.brand    
                                        tr
                                            td Модел
                                            td
                                                = result.carDetails.model
                                        tr
                                            td Година
                                            td
                                                = result.carDetails.year
                                        tr
                                            td Регистрационен номер
                                            td 
                                                = result.carDetails.registrationNumber
                                        tr
                                            td Мощност(к.с.)
                                            td 
                                                = result.carDetails.hp
                                       
                                            
                            div.col-md-6
                                table.table.table-striped
                                    tbody
                                        tr
                                            td Тип на гориво
                                            td 
                                                = result.carDetails.fuelType
                                        tr
                                            td Консумация на гориво
                                            td 
                                                = result.carDetails.fuelConsumption    
                                        tr
                                            td Брой седалки
                                            td
                                                = result.carDetails.seats
                                        tr
                                            td Пробег (км)
                                            td
                                                = result.carDetails.distancePassed
                                        tr
                                            td Местоположение
                                            td
                                                = result.carDetails.owner.city
                        div.row
                            div.col-md-12
                                h4.color-success Екстри
                                ul.list-unstyled
                                    .row
                                        .col-md-6
                                            li
                                                if result.carDetails.equipment.aircondition
                                                    i.fa.fa-check-circle-o.fa-lg.color-success
                                                    span  Климатик: Да
                                                else
                                                    i.fa.fa-ban.fa-lg.color-negative
                                                    span  Климатик: Не
                                            li
                                                if result.carDetails.equipment.GPS
                                                    i.fa.fa-check-circle-o.fa-lg.color-success
                                                    span  GPS: Да
                                                else
                                                    i.fa.fa-ban.fa-lg.color-negative
                                                    span  GPS: Не
                                            li
                                                if result.carDetails.equipment.winterTiers
                                                    i.fa.fa-check-circle-o.fa-lg.color-success
                                                    span  Зимни гуми: Да
                                                else
                                                    i.fa.fa-ban.fa-lg.color-negative
                                                    span  Зимни гуми: Не
                                        div.col-md-6
                                            li
                                                if result.carDetails.equipment.mp3Player
                                                    i.fa.fa-check-circle-o.fa-lg.color-success
                                                    span  mp3 player: Да
                                                else
                                                    i.fa.fa-ban.fa-lg.color-negative
                                                    span  mp3 player: Не
                                            li
                                                if result.carDetails.equipment.electricWindows
                                                    i.fa.fa-check-circle-o.fa-lg.color-success
                                                    span  Ел. прозорци: Да
                                                else
                                                    i.fa.fa-ban.fa-lg.color-negative
                                                    span  Ел. прозорци: Не
                        hr
                        div.row
                            div.col-md-12
                            h4.color-success Календар
                            div.row
                                div.col-md-2
                                    ul.pagination
                                        li
                                            a#previous-month &lt
                                        li 
                                            a#next-month &gt
                                    br
                                    span#mark-availability
                                    span Свободни дни
                                div.col-md-10#calendar-container
                        hr
                        div.row
                            div.col-md-12
                                h4.color-success Коментари
                        
                                div.text-center
                                    a.btn.btn-success.btn-comment#add-comment(href="#") Коментирай
                                    div.modal.fade#comments-modal(role="dialog")
                                            div.modal-dialog
                                                div.modal-content
                                                    div.modal-header
                                                        span 
                                                            | Напиши коментар
                                                    div.modal-body
                                                        form.text-left(role="form")
                                                            div.form-group
                                                                label(for="recipient-username")
                                                                    | Коментар за: 
                                                                input.form-control#recipient-username(type="text" value=result.carDetails.owner.username ame="username")
                                                            div.form-group
                                                                label(for="content-area")
                                                                    | Коментар
                                                                textarea.form-control#content-area(placeholder="Коментар... " name="fromArea")
                                                    div.modal-footer
                                                        button.btn.btn-success#modal-success(type="submit")
                                                            span
                                                                | Изпрати коментара
                                                        button.btn#close-modal(data-dismiss="modal" aria-hidden="true")
                                                            | Затвори

                                    div#user-reviews
                                        each review in result.carDetails.owner.receivedReviews
                                            div.panel.panel-info.review-tab
                                                div.panel-heading
                                                    h3.panel-title
                                                        a(href='/user/' + review.senderUsername)
                                                            = review.senderUsername
                                                div.panel-body
                                                    span
                                                        = review.content
                                    
                                    
            div.col-lg-4.col-md-8.col-xs-6
                div.form-rest-car
                    form(action='/car/' + result.carDetails._id + '/rent', method='get')
                        div.row
                            div.col-md-3.col-xs-12
                                label.color-success(for='startDate') Дата за взимане:
                            div.col-md-4.col-xs-4
                                select.form-control#start-date(name='start-date')
                                    each date in result.carDetails.availability
                                        if date.isAvailable
                                            option.start-date(name='startDate' value= date.date)
                                                = date.date.getDate() + '-' 
                                                = date.date.getMonth() + 1 + '-' 
                                                = date.date.getFullYear()
                        div.form-group
                            div.row
                                div.col-md-3.col-xs-12
                                    label.color-success(for='endDate') Дата за връщане:
                                div.col-md-4.col-xs-4
                                    select.form-control#end-date(name='end-date')
                                        each date in result.carDetails.availability
                                            if date.isAvailable
                                                option.end-date(name='endDate' value= date.date)
                                                    = date.date.getDate() + '-' 
                                                    = date.date.getMonth() + 1 + '-' 
                                                    = date.date.getFullYear()
                        div.form-group.form-inline
                            span Цена на ден: 
                            span#price-per-day
                                = result.carDetails.price.perDay 
                            span лв
                        if result.carDetails.price.perWeek
                            .form-group.form-inline
                                span Цена на седмица: 
                                span#price-per-week
                                    = result.carDetails.price.perWeek 
                                span лв
                        div.form-group.form-inline
                            div.row
                                div.col-md-3.col-xs-12
                                    h3.color-success Общо:
                                div.col-md-4.col-xs-4
                                    h3.color-primary
                                        strong#total-sum 
                        if  result.user
                            if  result.user.username === result.carDetails.owner.username
                                button.btn.btn-success(disabled) Попълни форма
                            else
                                button.btn.btn-success Попълни форма
                                      
                div.owner-details
                    h3.color-success Данни за собственика
                    div.row
                        div.col-md-4.col-sm-12.col-xs-12
                            img#owner-img(src= result.carDetails.owner.imageUrl)
                        div.col-md-8.col-sm-12.col-xs-12
                            div
                                strong.color-success Име: 
                                a(href='/user/'+ result.carDetails.owner.username)
                                    span 
                                        = result.carDetails.owner.firstName + ' '
                                    span
                                        = result.carDetails.owner.lastName
                            div
                                strong.color-success Град: 
                                span 
                                    = result.carDetails.owner.city

                            #user-rating
                                - for (var j = 0; j < Math.floor(result.carDetails.owner.userRating); ++j) {
                                    i.fa.fa-star(aria-hidden='true')
                                - }

                                if result.carDetails.owner.userRating % 2 > 0
                                    i.fa.fa-star-half-o(aria-hidden='true')
                            br
                            div
                                if  result.user
                                    if  result.user.username === result.carDetails.owner.username
                                        button.btn.btn-success#send-message(disabled) Изпрати съобщение
                                    else 
                                        button.btn.btn-success#send-message Изпрати съобщение