extends ../_layout

block custom-styles
    link(rel='stylesheet', href='/static/styles/car-rent.css')

block body-content
    div.container.background.form-container
        div.row
            div.col-md-9.col-md-offset-3
                form.rent-form.text-center(action=`/car/${result.carId}/rent` method="POST")
                    h1.color-dark-success Наеми кола
                    div.rental-info
                        p
                            span Име: 
                            strong
                                = result.user.firstName + " " + result.user.lastName
                        p
                            span Имейл: 
                            strong
                                = result.user.email
                        p
                            span От дата: 
                            strong '11/1/2016'
                                //- enter start date here
                        p
                            span До дата: 
                            strong '11/1/2016'
                            //- enter end date here
                        h3.color-success Изпрати съобщение на собственика
                        textarea(rows="4" cols="50" name="message")
                    button.btn.btn-success.btn-lg
                        | Наеми
