extends ../_layout

block custom-styles
    link(rel='stylesheet', href='/static/styles/car-search.css')


block body-content
    div(id="car-search")
        div.car
            img.car-img(src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQ683D5AwO5zFJYoTRAoSQpFmAl3ggtuqmacrMMojfc92VJ-6hOLA")
            span.brand 
                strong Tesla
            span.description Good!
            table
                tr
                    td
                        img.img-circle(src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS6KCq6icIupl8u330C0bbUsy2IDqeyeuYAKLBu0Vy-mH9UzoHS")
                        | Pamella Anderson
                    td.price
                        strong 750 
                        span.unit лв/ден

    div(id="map")