extends ../_layout

block custom-styles
    link(rel='stylesheet', href='/static/styles/home.css')

block custom-scripts
    script(src='/static/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js')

block body-content

    div.img-after-menu
        form.search-form.centered.form(method="GET", action="/search/car")
            input.form-control(type="text" name="city")
            .form-group
                .input-group.input-daterange(data-provide='datepicker' data-date-format='yyyy-mm-dd')
                    input.form-control(type='text' name='startDate')
                    span.input-group-addon до
                    input.form-control(type='text' name='endDate')
            button.btn.btn-primary(type="submit") Намери кола

    div.info.centered
        strong Хората с Vozilo имат добри преживявания

    div.container.centered
        div.row
            each user in result.topRatedUsers
                div.col-lg4.col-md-4.col-sm-12
                    a(href=`/user/${user.username}`)
                        div.card.hovercard
                            div.card-background
                                img.card-bkimg(alt="" src=`${user.picture}`)
                            div.useravatar
                                img(alt="" src=`${user.picture}`)
                            div.card-info
                                span.card-title= user.firstName + " " + user.lastName
                    div.rating
                        - for(let i=0; i < user.userRating; i += 1) {
                            if ((user.userRating - i) < 1)
                                span.glyphicon.glyphicon-star.half
                            else
                                span.glyphicon.glyphicon-star
                        - }