extends _layout

block body-content
    h1(class="text-center")
        | unfortunately user with that Id do not exsist in our database
    br
    h3(class="text-center")
        a(href="/") Go to homepage