extends _layout

block body-content
    ul(class="nav nav-tabs" id="profile-tabs")
        li(id="first-tab")
            a(href="#" data-toggle="tab") Profile
        li(id="second-tab")
            a(href="#" data-toggle="tab") Cars
        li(id="third-tab")
            a(href="#" data-toggle="tab") Received Reviews
        if result.user
           li(id="forth-tab")
                a(href="/user/" + result.userDetails.id + "/update") Update Profile
        

    div(id="profile-wrapper")
        div(id="prfile-info" class="profile-tab")
            h2(class="text-center")
                != result.userDetails.username 
            h3(class="text-center")
                | Rating: 
                != result.userDetails.userRating            
            div(id="profile-pic-container")
                img(class="profile-pic-big img-rounded", src= result.userDetails.picture)
            div(id="personal-info")
                strong 
                    | Име: 
                != result.userDetails.firstName
                br
                strong
                    | Фамилия: 
                != result.userDetails.lastName
                br
                if result.user
                    strong
                        | E-mail: 
                    em
                        a(href="mailto:" + result.userDetails.email + "\"") #{result.userDetails.email}
                    br
                    strong
                        | Телефон: 
                    != result.userDetails.phoneNumber
                    br
                
                strong 
                    | Град: 
                != result.userDetails.address.city
                br
                strong 
                    | Адрес: 
                != result.userDetails.address.street
                br
                strong
                    | Шофиорски опит: 
                != result.userDetails.drivingExpInYears
        div(id="user-cars" class="profile-tab hidden")
            each car in result.userDetails.cars
                div(class="car-preview")
                    img(class="car-pic-preview img-rounded" src=car.picture)
                    div(class="car-info")
                        strong
                            | Марка: 
                        != car.brand 
                        br
                        strong
                            | Модел: 
                        != car.model 
                        br
                        strong
                            | Година: 
                        != car.year
                        br
                        br
                        a(href="/car/" + car.id class="btn btn-primary") Повече информация                        
                        if result.user
                            a(href="/car/" + car.id + "/update/" class="btn btn-danger") Промени                          
        div(id="user-reviews" class="profile-tab hidden")
            each review in result.userDetails.receivedReviews
                h1
                    | Here!         
    
    script
        | $('#first-tab a').click(function (e) {  e.preventDefault(); $('.profile-tab').addClass('hidden'); $('#prfile-info').removeClass('hidden');})
        | $('#second-tab a').click(function (e) {  e.preventDefault(); $('.profile-tab').addClass('hidden'); $('#user-cars').removeClass('hidden');})
        | $('#third-tab a').click(function (e) {  e.preventDefault(); $('.profile-tab').addClass('hidden'); $('#user-reviews').removeClass('hidden');})
                      
                
