extends ../_layout

block body-content
        div.container
            h2 Registration Form
            form.form-horizontal(action="/auth/sign-up" method="post")
                div.form-group
                    label.col-sm-3.control-label(for="username") Потребителско име
                    div.col-sm-9
                        input.form-control(type="text" name="username" placeholder="Потребителско име" class="form-control" autofocus)
                div.form-group
                    label.col-sm-3.control-label(for="fullName")  Име
                    div.col-sm-9
                        input(type="text" name="firstName" placeholder="Първо Име" class="form-control" autofocus)
                        span(class="help-block") Първо име: Георги
                        input(type="text" name="lastName" placeholder="Фамилия" class="form-control" autofocus)
                        span(class="help-block") Фамилия: Иванов
                div.form-group
                    label.col-sm-3.control-label(for="email") Email
                    div(class="col-sm-9")
                        input(type="email" name="email" placeholder="Email" class="form-control")
                div.form-group
                    label(for="password" class="col-sm-3 control-label") Парола
                    div.col-sm-9
                        input(type="password" name="password" placeholder="Password" class="form-control")
                div.form-group
                    label(for="picture" class="col-sm-3 control-label") Профилна Снимка
                    div.col-sm-9
                        input(type="url" name="picture"  placeholder="линк към снимката" class="form-control")
                div.form-group
                    label(for="phoneNumber" class="col-sm-3 control-label") Телефон
                    div.col-sm-9
                        input(type="text" name="phoneNumber"  placeholder="08X-XXX-XXXX" class="form-control")        
                div.form-group
                    label(for="experience" class="col-sm-3 control-label") Шофьорски стаж
                    div.col-sm-9
                        input(type="text" name="experience"  placeholder="години като шофьор" class="form-control")
                div.form-group
                    label.col-sm-3.control-label(for="address")  Адрес
                    div.col-sm-9
                        input(type="text" name="city" placeholder="Град" class="form-control")
                        span(class="help-block")
                        input(type="text" name="street" placeholder="Улица" class="form-control")
                div.form-group
                   div.col-sm-9.col-sm-offset-3
                        button(type="submit" class="btn btn-primary btn-block") Register
