body {
    background-color: #eee;
}


/*.fb-btns{
    margin-left: 
}*/

.logo-font-color {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: gold
}

.logo-img-color {
    color: gold
}

.logo-font-size {
    font-size: 1.5em;
}

.background {
    background-color: white
}

form {
    width: 40em;
    padding-top: 1em;
}

.form-control {
    margin-bottom: 1em;
}


/*
.centered {
    margin: auto;
}*/

.form-inline input {
    margin-right: 1em;
}

.navbar-collapse {
    background: #575b5b;
    height: 70px;
    padding-top: 5px;
}

.navbar-collapse a {
    color: white;
}

.container {
    margin-bottom: 3.5em;
}

.navbar-collapse ul li a:hover {
    color: black;
}

.glyphicon-star {
    font-size: 20px;
    color: #e67e22;
}

.half {
    position: relative;
}

.half:before {
    position: relative;
    z-index: 9;
    width: 47%;
    display: block;
    overflow: hidden;
}

.half:after {
    content: '\e006';
    position: absolute;
    z-index: 8;
    color: #bdc3c7;
    top: 0;
    left: 0;
}

.btn-pref .btn {
    -webkit-border-radius: 0 !important;
}


/* Footer */

.footer {
    background: #575b5b;
    padding-top: 20px;
    margin-top: 3em;
}


/*.footer-content{
    margin-top: 20px;
}*/

footer ul {
    padding-bottom: 20px;
}

footer h4 {
    color: gold
}

footer li a {
    color: white
}


/* Create car form */

#form-create-car {
    padding: 50px;
    border-radius: 10px;
}

.color-dark-success {
    color: darkolivegreen;
}

.font-size-09 {
    font-size: 0.9em;
}


/* Car details */

#car-details {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 30px;
}

.car-image {
    width: 700px;
    border-radius: 10px;
}

.color-secondary {
    color: olive;
}

.color-finished {
    color: green;
}

.color-active {
    color: olive;
}

.color-success {
    color: olive;
}

.color-negative {
    color: orangered
}

.color-primary {
    color: dodgerblue
}

.form-rest-car {
    margin-top: 90px;
    background-color: #F5F5F5;
    padding: 10px;
    border-radius: 10px;
}

#owner-img {
    width: 100px;
}

#user-rating {
    color: #FFC000;
}

#calendar td {
    border: solid 1px black;
    padding: 5px;
}

.car-available {
    background-color: greenyellow;
}

#mark-availability {
    background-color: greenyellow;
    padding: 5px;
    margin-right: 5px;
}

.btn-comment {
    margin-bottom: 1.2em;
}


/* Profile */

#profile-tabs {
    margin-left: 15%;
    margin-right: 15%;
    clear: both
}

#profile-wrapper {
    min-height: 500px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 30px;
}

#profile-wrapper #profile-pic-container {
    margin-left: 30px;
    width: 250px;
    max-height: 400px;
    float: left;
}

#profile-wrapper #profile-pic-container img {
    max-width: 100%;
    max-height: 100%;
}

#profile-wrapper #personal-info {
    margin: 20px;
    float: left;
    line-height: 1.8em;
}

#profile-wrapper #user-cars {
    clear: both;
    padding: 10px 0px;
}

#profile-wrapper #user-cars .car-preview {
    border: 1px solid black;
    border-radius: 10px;
    width: 46%;
    min-width: 300px;
    margin: 10px 2%;
    padding: 5px;
    float: left;
}

#profile-wrapper #user-cars .car-preview:nth-child(2n+1) {
    clear: both;
}

.car-pic-preview {
    max-width: 285px;
    max-height: 220px;
    float: left;
}

#profile-wrapper #user-cars .car-preview .car-info {
    margin: 10px;
    float: left;
}

#profile-wrapper .review-tab {
    width: 75%;
    margin: 10px 15%;
    min-width: 200px;
    float: left;
}

.clear-both {
    clear: both;
}

.margin {
    margin: 350px 0px 0px 0px;
}

#profile-btns a {
    margin-left: 10px;
}

.request-container {
    border: 1px solid black;
    border-radius: 10px;
    width: 75%;
    margin: 10px 10%;
    min-width: 300px;
    padding: 5px;
    float: left;
}

.request-info {
    margin: 10px 20px;
    float: left;
}


/* Car rental */

.car-rental-row {
    margin-bottom: 2em;
    padding: 10px;
    border: 4px solid #ccc;
}

.table>tbody>tr>td {
    vertical-align: middle;
}