div.circle-avatar > img {
    padding: 0px;
    width: 20px;
    height: 20px;
}

#renter-img-id, #car-owner-img-id {
    width: 70%;
}

.correspondence-link > div{
    border-top: 1px solid #ccc;
    padding: 10px;
}